<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
  </head>
  <body style="background: #ffffff;">

    <nav>
      <a class="links logo" href="#">Welcome</a>
      <div class="rightSection">
        <a class="links" href="/">Home</a>
        <a class="selected links" href="#">Add book</a>
        <a class="links" href="/mybooks">my books</a>
        <a class="links" href="/logout">logout</a>
      </div>
    </nav>

    <div class="login-box" style="height: 270px;background-color: #76b852;">
        <p style="text-align: center; font-size: 50px;margin: 0;font-weight: bold;">Add Book</p> 

        <form action="/AddBook" method="POST" >
            <input type="text" name="name" class="input" placeholder="name">
            <br>
            <input type="collage" name="collage" class="input" placeholder="collage">
            <br>
            <input type="submit" class="input" value="Add book" style="width:100px; margin-left: 155px;">
        </form>
        
    </div>
  </body>
</html>
