<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    
</head>
<body>

    <div class="login-box">
        <p style="text-align: center; font-size: 50px;margin: 0;font-weight: bold;">login</p> 

        <form action="/login" method="POST" >
            <input type="text" name="id" class="input" placeholder="id">
            <br>
            <input type="password" name="password" class="input" placeholder="Password">
            <br>
            <input type="submit" class="input" value="login">
        </form>
        <a href="/signup" style="padding: 140px;">Create account</a>
    </div>
    
</body>
</html>