<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body style="background: #ffffff">
    <nav>
      <a class="links logo" href="#">Company Logo/Image</a>
      <div class="rightSection">
        <a class="links" href="./">Home</a>
        <a class="links" href="./AddBook">Add book</a>
        <a class="selected links" href="./Mybooks">my books</a>
        <a class="links" href="./logout">logout</a>
      </div>
    </nav>

    <div></div>
    <table>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Delete</th>
      </tr>

      <% result.forEach(element => { %>
      <tr>
        <td><%= element.name %></td>
        <td><%= element.id %></td>
        <td ><button id=<%= element.id %> onclick="del(this.id)" type="button" >X</button></td>
      </tr>
      <% }); %>
    </table>

    <script>
     
      function del(butID){
        console.log(butID);
        window.location.reload();
      fetch("http://localhost:5000/books", {
        method: "DELETE",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ "bookid": butID }),
      })
        .then((response) => response.json())
        .then((response) => console.log(JSON.stringify(response)));
    }
    </script>
  </body>
</html>
