<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>signup</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    
</head>
<body>

    <div class="signup-box">
        <p style="text-align: center; font-size: 50px;margin: 0;font-weight: bold;">Signup</p> 

        <form action="/signup" method="POST" >
            <input type="text" name="id" class="input" placeholder="id">
            <br>
            <input type="text" name="name" class="input" placeholder="name">
            <br>
            <input type="email" name="email" class="input" placeholder="email">
            <br>
            <input type="password" name="password" class="input" placeholder="password">
            <br>
            <input type="text" name="collage" class="input" placeholder="collage">
            <br>
            <input type="number" name="number" class="input" placeholder="number">
            <br>
            <input type="submit" class="input" value="Creat account">
        </form>
        
    </div>
    
</body>
</html>